<div class="w3-content w3-margin-top" style="max-width:1400px;">
  <!-- The Grid -->
  <div class="w3-row-padding"><!-- Left Column -->
    <div class="w3-third">
      <div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-display-container">
          <img src="assets/image/Jhironsel.jpg" style="width:100%" alt="Avatar">
          <div class="w3-container w3-text-white w3-teal">
            <h2 style="display: inline;">{{name}} <img src="assets/image/bandera.webp" style="width:32px;" alt="Bendera dominicana"></h2>

          </div>
        </div>
        <div class="w3-container">
          <div><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>
            Licenciado en Informática.
            <div class="w3-container ">
              <p>Título Universitario: <a href="https://estuasdedu-my.sharepoint.com/:b:/g/personal/ch5760_est_uasd_edu_do/Eaeqoo7KPS9Fq8ars3WGTlMB6Pw4BuZs2JnREda3XdnjSw?e=Dfzcig" target="_blank" rel="noopener noreferrer">Enlace</a> </p>
              <p>Auditoria Y Seguridad Informática: <span class="w3-tag w3-teal w3-round">Actualmente</span></p>
              <p>Cod. Colegio: <a href="https://cdpic.org.do/home/colegiados-activos/" target="_blank" rel="noopener noreferrer">C650</a></p>
            </div>
          </div>

          <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>
              Programador freelance.
          </p>
          <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>
              Profesor de Informática.
          </p>
          <p><i class="fa fa-calendar fa-fw w3-margin-right w3-large w3-text-teal"></i> 07 Abril 1984</p>
          <i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>
            San Juan, Republica Dominicana <br>

          <blockquote class="w3-container">
            <b>Direcciones</b>
            <p>Avenida Circunvalación Sur Edificio: 40 Apartamento: 102 Cristo Rey,
              <a href="https://goo.gl/maps/jHswwqiJh3E9UZZg9" target="_blank" rel="noopener noreferrer">San Juan de la Maguana.</a></p>
            <p>Calle Coralillos, Residencial Coral I, A2, Autopista las América Con
              Charles de Gaulle, <a href="https://goo.gl/maps/pxU4184YpVMR1U5F9" target="_blank" rel="noopener noreferrer">Los Corales Santo Domingo .</a></p>
          </blockquote>
          <p>
            <a href="mailto:{{email}}">
              <i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>
              {{email.trim()}}
            </a>
          </p>
          <p>
            <a href="mailto:{{email2}}">
              <i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>
              {{email2.trim()}}
            </a>
          </p>

          <p>
            <a href="tel:+1{{tel}}">
              <i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>
              {{tel}}
            </a>
          </p>
          <p>
            <a href="tel:+1{{tel2}}">
              <i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>
              {{tel2}}
            </a>
          </p>
          <hr>

          <p class="w3-large">
            <b>
              <i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>
              Habilidades
            </b>
          </p>

          <p>Java</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:90%">90%</div>
          </div>
          <p>Angular</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:50%">
              <div class="w3-center w3-text-white">50%</div>
            </div>
          </div>
          <p>CSS</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:75%">75%</div>
          </div>
          <p>Media</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:50%">50%</div>
          </div>
          <br>

          <p class="w3-large w3-text-theme">
            <b>
              <i class="fa fa-globe fa-fw w3-margin-right w3-text-teal"></i>
              Languages
            </b>
          </p>

          <p>Español</p>
          <div class="w3-light-grey w3-round-xlarge">
            <div class="w3-round-xlarge w3-teal" style="height:24px;width:100%"></div>
          </div>

          <p>English</p>
          <div class="w3-light-grey w3-round-xlarge">
            <div class="w3-round-xlarge w3-teal" style="height:24px;width:55%"></div>
          </div>
          <br>
        </div>
      </div><br>
    </div><!-- End Left Column -->
    <div class="w3-twothird"><!-- Right Column -->
      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-16">
          <i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>
          Experiencia de trabajo
        </h2>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Programador y Reparación de Computadoras (FreeLancer)</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jan 2015 - <span class="w3-tag w3-teal w3-round">Current</span></h6>
          <p>Desarrollador de aplicaciones en Java (SoftSureña), Gestionando y Administrando la aplicación de facturación. Actualmente.</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Profesor de Informática</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>agosto 2017 – Julio 2021</h6>
          <p>Formador del Técnico de Informática en el Centro Cristiano de Educación para el Desarrollo (CCED).
            <a href="https://estuasdedu-my.sharepoint.com/:b:/g/personal/ch5760_est_uasd_edu_do/EftqRCwtnStGj7Bv_mOxNV8BN_TBV7jZqdlgS-jhTFQPuA?e=7hfOwZ" target="_blank" rel="noopener noreferrer">Carta de trabajo</a></p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Operador de sistema de Back office y Administrador de Datos.</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>febrero 2021 - junio 2021</h6>
          <p>Asociación Maguana de Ahorros y Prestamos, San Juan de la Maguana. Departamento de TIC. </p><br>
        </div>
      </div>

      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-16">
          <i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>
          Sumario Profesional
        </h2>
        <ul>
          <li>FormaMás 10 años de experiencia en el área de Tecnología de la Información.</li>
          <li>Habilidad para trabajar de manera efectiva como miembro de equipo.</li>
          <li>Flexibilidad para aprender y trabajar con nuevas tecnologías.</li>
          <li>Pensamiento analítico y de resolución de problemas.</li>
          <li>Pensamiento estratégico.</li>
          <li>Compromiso con los valores institucionales.</li>
          <li>Aprendizaje continuo.</li>
          <li>Búsqueda de información.</li>
          <li>Preocupación por el orden y la claridad.</li>
        </ul>
      </div>

      <div class="w3-container w3-card w3-white">
        <h2 class="w3-text-grey w3-padding-16">
          <i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>
          Educación continua
        </h2>

        <div class="w3-container">
          <h4 class="w3-opacity">
            <b>Estudios Secundarios</b>
          </h4>
          <h5 class="w3-text-teal">
            <i class="fa fa-calendar fa-fw w3-margin-right"></i>2003 - 2004
          </h5>
          <div class="w3-container">
            <p>Liceo Pedro Henríquez Ureña</p>
            <ol>
              <li><a href="https://estuasdedu-my.sharepoint.com/:b:/g/personal/ch5760_est_uasd_edu_do/Ee9bIj_xnJNDvQuKluhOceIBoG-DcwoALWmApU-OKVR2dw?e=m1kjVc" target="_blank" rel="noopener noreferrer">Certificación</a></li>
              <li><a href="https://estuasdedu-my.sharepoint.com/:b:/g/personal/ch5760_est_uasd_edu_do/Ed_wCRPVmOZEuJcnMlkApyUBiMHLDRug45686UAK-6hClQ?e=qM0Mep" target="_blank" rel="noopener noreferrer">Diploma</a></li>
            </ol>
          </div>
          <hr>
        </div>

        <div class="w3-container">
          <h4 class="w3-opacity"><b>INFOTEP</b></h4>
          <h5 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2012</h5>
          <ol>
            <li>
              <p>Manejador de Microsoft Power Point
                <a href="http://servicios.infotep.gob.do/Certificados/ValidacionCertificado.aspx?id=AAAfxZAALAAAoP4AAD&val=1" target="_blank" rel="noopener noreferrer">Enlace</a>
              </p>
            </li>
            <li>
              <p>Manejador de Internet
                <a href="http://servicios.infotep.gob.do/Certificados/ValidacionCertificado.aspx?id=AAAfxZAAKAAAr5RAAH&val=1" target="_blank" rel="noopener noreferrer">Enlace</a>
              </p>
            </li>
            <li>
              <p>Manejador de Microsoft Excell Básico
                <a href="http://servicios.infotep.gob.do/Certificados/ValidacionCertificado.aspx?id=AAAfxZAAKAAAuBiAAP&val=1" target="_blank" rel="noopener noreferrer">Enlace</a>
              </p>
            </li>
            <li>
              <p>Manejador de Microsoft Excell Intermedio
                <a href="http://servicios.infotep.gob.do/Certificados/ValidacionCertificado.aspx?id=AAAfxZAAEAAAsgUAAl&val=1" target="_blank" rel="noopener noreferrer">Enlace</a>
              </p>
            </li>
            <li>
              <p>Microsoft Excell Avanzado
                <a href="http://servicios.infotep.gob.do/Certificados/ValidacionCertificado.aspx?id=AAAfxZAALAAAp5wAAj&val=1" target="_blank" rel="noopener noreferrer">Enlace</a>
              </p>
            </li>
            <li>
              <p>Programación en PHP
                <a href="http://servicios.infotep.gob.do/Certificados/ValidacionCertificado.aspx?id=AAAfxZAANAAAtFCAAe&val=1" target="_blank" rel="noopener noreferrer">Enlace</a>
              </p>
            </li>
            <li>
              <p>Estrategias De Evaluación
                <a href="http://servicios.infotep.gob.do/Certificados/ValidacionCertificado.aspx?id=AAAfxZAAKAAArzrAAT&val=1" target="_blank" rel="noopener noreferrer">Enlace</a>
              </p>
            </li>
            <li>
              <p>Desarrollador de aplicaciones en las nubes (Freelancer)
                <a href="http://servicios.infotep.gob.do/Certificados/ValidacionCertificado.aspx?id=AAAfxZAANAAEecGAAQ&val=1" target="_blank" rel="noopener noreferrer">Enlace</a>
              </p>
            </li>
            <li>
              <p>Herramientas de Google para la Formación Virtual
                <a href="http://servicios.infotep.gob.do/Certificados/ValidacionCertificado.aspx?id=AAAfxZAANAAEefMAAg&val=1" target="_blank" rel="noopener noreferrer">Enlace</a>
              </p>
            </li>
            <li>
              <p>Facilitador de la Formación Profesional
                <a href="http://servicios.infotep.gob.do/Certificados/ValidacionCertificado.aspx?id=AAAfxZAANAAEfJEAAk&val=1" target="_blank" rel="noopener noreferrer">Enlace</a>
              </p>
            </li>
          </ol>
          <hr>
        </div>

        <div class="w3-container">
          <h4 class="w3-opacity"><b>Ministerio Educativo De Profesionales Cristianos [MEPROC]</b></h4>
          <h5 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2013</h5>
          <ol>
            <li>
              <p>Tec. En Caja Banca y Comercial
                <a href="https://estuasdedu-my.sharepoint.com/:b:/g/personal/ch5760_est_uasd_edu_do/EYyK1J2LLl9DqBK05q3hfHIBW7hwpNLnsPwuCCvix5WYEg?e=eC9SlA" target="_blank" rel="noopener noreferrer">Enlace</a>
              </p>

            </li>
            <li>
              <p>
                Tec. En Caja Banca y Comercial Ilustre
                <a href="https://estuasdedu-my.sharepoint.com/:b:/g/personal/ch5760_est_uasd_edu_do/EWme5xEkJx9NhbwClhMbiZ8BdWNBjgWRWr_MeiT0Jun9cw?e=9xdKLU" target="_blank" rel="noopener noreferrer">Enlace</a>
              </p>
            </li>
            <li>
              <p>
                Tec. En Contabilidad
                <a href="https://estuasdedu-my.sharepoint.com/:b:/g/personal/ch5760_est_uasd_edu_do/EbzOnN087t5KjRz-tQrxfJQBDRN-YyLrs3URM_kc5riYjQ?e=3Ca9BW" target="_blank" rel="noopener noreferrer">Enlace</a>
              </p>
            </li>
          </ol>
          <hr>
        </div>

        <div class="w3-container">
          <h4 class="w3-opacity"><b>Ministerio De Educación Superior, Ciencia Y Tec.</b></h4>
          <h5 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2016</h5>
          <div class="w3-container">
            <ol>
              <li>Programa de Ingles por Inmersión
                <a href="https://estuasdedu-my.sharepoint.com/:b:/g/personal/ch5760_est_uasd_edu_do/EdIz1N0sMhNMqIuA12SWJjcB8QpjIz1LyeMaWj2UO1P4Vg?e=pIaslu" target="_blank" rel="noopener noreferrer">Enlace</a>
              </li>
              <li>Ciber Seguridad
                <a href="https://estuasdedu-my.sharepoint.com/personal/ch5760_est_uasd_edu_do/_layouts/15/onedrive.aspx?id=%2Fpersonal%2Fch5760%5Fest%5Fuasd%5Fedu%5Fdo%2FDocuments%2FDocumento%2FCVJhironselDiaz%2FLijero%2FCertificado%20Inform%C3%A1tica%2FCiberSeguridad%2Epdf&parent=%2Fpersonal%2Fch5760%5Fest%5Fuasd%5Fedu%5Fdo%2FDocuments%2FDocumento%2FCVJhironselDiaz%2FLijero%2FCertificado%20Inform%C3%A1tica&ga=1" target="_blank" rel="noopener noreferrer">Enlace</a>
              </li>
              <li>Administración y Diseño de Bases de Datos en SQL Server
                <a href="https://estuasdedu-my.sharepoint.com/personal/ch5760_est_uasd_edu_do/_layouts/15/onedrive.aspx?id=%2Fpersonal%2Fch5760%5Fest%5Fuasd%5Fedu%5Fdo%2FDocuments%2FDocumento%2FCVJhironselDiaz%2FLijero%2FCertificado%20Inform%C3%A1tica%2FAdministraci%C3%B3n%20y%20Dise%C3%B1o%20de%20Base%20de%20Datos%20en%20SQL%20Server%2Epdf&parent=%2Fpersonal%2Fch5760%5Fest%5Fuasd%5Fedu%5Fdo%2FDocuments%2FDocumento%2FCVJhironselDiaz%2FLijero%2FCertificado%20Inform%C3%A1tica&ga=1" target="_blank" rel="noopener noreferrer">Enlace</a>
              </li>
            </ol>
          </div>
          <hr>
        </div>
        <div class="w3-container">
          <h4 class="w3-opacity"><b>Capacítate Para El Empleo, Fundación Carlos Slim.</b></h4>
          <h5 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2017</h5>
          <div class="w3-container">
            <ol>
              <li>Técnico en redes de datos
                <a href="https://capacitateparaelempleo.org/verifica/gkk0e5bin/" target="_blank" rel="noopener noreferrer">Enlace</a>
              </li>
              <li>Técnico en la instalación y reparación de equipo de cómputo
                <a href="https://capacitateparaelempleo.org/verifica/uf539mw8p/" target="_blank" rel="noopener noreferrer">Enlace</a>
              </li>
              <li>Instalador de cables de cobre
                <a href="https://capacitateparaelempleo.org/verifica/x9hxggfdh/" target="_blank" rel="noopener noreferrer">Enlace</a>
              </li>
              <li>Asistente web
                <a href="https://capacitateparaelempleo.org/verifica/forcpiir3/" target="_blank" rel="noopener noreferrer">Enlace</a>
              </li>
            </ol>
          </div>
          <hr>
        </div>
        <div class="w3-container">
          <h4 class="w3-opacity"><b>Microsoft Virtual Academy.</b></h4>
          <h5 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2017</h5>
          <div class="w3-container">
            <p>Curso Básico De Soporte Técnico.
              <a href="https://estuasdedu-my.sharepoint.com/:b:/g/personal/ch5760_est_uasd_edu_do/Eee-MRwuktZDujc-wzY2KS0BOR0-zm6qBWA9xJ9qR7ZY-A?e=0DXtIM" target="_blank" rel="noopener noreferrer">Enlace</a>
            </p>
          </div>
          <hr>
        </div>
        <div class="w3-container">
          <h4 class="w3-opacity"><b>Escuela de Organización industrial</b></h4>
          <h5 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2019</h5>
          <p>Actívate en JAVA Ed.II
            <a href="https://estuasdedu-my.sharepoint.com/personal/ch5760_est_uasd_edu_do/_layouts/15/onedrive.aspx?id=%2Fpersonal%2Fch5760%5Fest%5Fuasd%5Fedu%5Fdo%2FDocuments%2FDocumento%2FCVJhironselDiaz%2FLijero%2FCertificado%20Inform%C3%A1tica%2FCertificado%20de%20Java%20EQI2%2Epdf&parent=%2Fpersonal%2Fch5760%5Fest%5Fuasd%5Fedu%5Fdo%2FDocuments%2FDocumento%2FCVJhironselDiaz%2FLijero%2FCertificado%20Inform%C3%A1tica&ga=1" target="_blank" rel="noopener noreferrer">Enlace</a>
          </p>
          <hr>
        </div>
      </div>
    </div>
  </div>
</div>
