<footer class="w3-container w3-teal w3-center w3-margin-top">
  <p>Buscame en la redes sociales como:</p>
  <a href="https://www.facebook.com/Jhironsel/"
      target="_blank" rel="noopener noreferrer" style="font-size:36px; margin-right: 10px;">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
  </a>
  <a href="https://www.instagram.com/Jhironsel/"
      target="_blank" rel="noopener noreferrer" style="font-size:36px; margin-right: 10px;">
    <i class="fa fa-instagram w3-hover-opacity"></i>
  </a>
  <a href="https://twitter.com/jhironsel/"
      target="_blank" rel="noopener noreferrer" style="font-size:36px; margin-right: 10px;">
    <i class="fa fa-twitter w3-hover-opacity "></i>
  </a>
  <a href="https://www.linkedin.com/in/jhironsel/"
      target="_blank" rel="noopener noreferrer" style="font-size:36px; margin-right: 10px;" >
    <i class="fa fa-linkedin w3-hover-opacity"></i>
  </a>
  <a href="https://www.youtube.com/jhironsel/"
      target="_blank" rel="noopener noreferrer" style="font-size:36px; margin-right: 10px;" >
    <i class="fa fa-youtube w3-hover-opacity"></i>
  </a>
  <p class="">@Jhironsel</p>
</footer>
